<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic Page Needs ––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Molonium Minecraft Server Status</title>

    <!-- Set Mobile Scaling to Device Width
    ––––––––––––––––––––––––––––––––––––––––––––––––––- -->
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">

    <!-- CSS –––––––––––––––––––––––––––––––––––––––––– -->
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <link href="style.css" rel="stylesheet">

    <!-- Scripts –––––––––––––––––––––––––––––––––––––– -->
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- Favicon –––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="favicon.png" />

    <!-- Mobile URL Bar Color ––––––––––––––––––––––––- -->
    <meta name="theme-color" content="white">

    <body>
        <div id="app">
            <div class="navbar">
                <span class="navbar-title" >Molonium Minecraft Server Status</a>
            </div>

            <div class="container" v-if="data">
                <div class="panel">
                    <div class="panel-content">
                        <h1>General Information</h1>
                        <table class="info-table">
                            <tbody>
                                <tr>
                                    <td><b>IP</b></td>
                                    <td>{{ ip }}</td>
                                </tr>
                                <tr>
                                    <td><b>Version</b></td>
                                    <td class="version-tag">{{data.query.version}}</td>
                                </tr>
                                <tr>
                                    <td><b>Players</b></td>
                                    <td class="player-number">{{data.query.numplayers}} / {{data.query.maxplayers}}</td>
                                </tr>
                                <tr>
                                    <td><b>Status</b></td>
                                    <td class="server-status">
                                        Server is online&nbsp;
                                        <i class="fa fa-check-circle"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="panel">
                    <div class="panel-content">
                        <h1>Players</h1>
                        <div class="online-players">
                            <div class="player-heads" v-if="data.query.players">
                                <div v-for="player of data.query.players">
                                    <img class="head" v-bind:src="player | head" v-bind:alt="player">
                                </div>
                            </div>
                            <div v-else>
                                <span>No players online :(</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <script src="main.js"></script>
    </body>
</html>
